<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpetstore.mapper.AccountMapper">

    <resultMap id="accountResultMap" type="com.jpetstore.domain.Account">
        <id property="userid" column="userid"/>
        <result property="email" column="email"/>
        <result property="firstname" column="firstname"/>
        <result property="lastname" column="lastname"/>
        <result property="status" column="status"/>
        <result property="addr1" column="addr1"/>
        <result property="addr2" column="addr2"/>
        <result property="city" column="city"/>
        <result property="state" column="state"/>
        <result property="zip" column="zip"/>
        <result property="country" column="country"/>
        <result property="phone" column="phone"/>
        <result property="role" column="role"/>
        <association property="profile" javaType="com.jpetstore.domain.Profile">
            <id property="userid" column="userid"/>
            <result property="langpref" column="langpref"/>
            <result property="favcategory" column="favcategory"/>
            <result property="mylistopt" column="mylistopt"/>
            <result property="banneropt" column="banneropt"/>
        </association>
        <association property="signOn" javaType="com.jpetstore.domain.SignOn">
            <id property="username" column="username"/>
            <result property="password" column="password"/>
        </association>
    </resultMap>

    <select id="getAccountByUsername" resultMap="accountResultMap">
        SELECT a.userid, a.email, a.firstname, a.lastname, a.status,
               a.addr1, a.addr2, a.city, a.state, a.zip, a.country, a.phone, a.role,
               p.langpref, p.favcategory, p.mylistopt, p.banneropt,
               s.username, s.password
        FROM account a
                 LEFT JOIN profile p ON a.userid = p.userid
                 LEFT JOIN signon s ON a.userid = s.username
        WHERE a.userid = #{userid}
    </select>

    <select id="getAccountByUsernameAndPassword" resultMap="accountResultMap">
        SELECT a.userid, a.email, a.firstname, a.lastname, a.status,
               a.addr1, a.addr2, a.city, a.state, a.zip, a.country, a.phone, a.role,
               p.langpref, p.favcategory, p.mylistopt, p.banneropt,
               s.username, s.password
        FROM account a
                 LEFT JOIN profile p ON a.userid = p.userid
                 LEFT JOIN signon s ON a.userid = s.username
        WHERE s.username = #{username} AND s.password = #{password}
    </select>

    <select id="getAllUsers" resultMap="accountResultMap">
        SELECT a.userid, a.email, a.firstname, a.lastname, a.status,
               a.addr1, a.addr2, a.city, a.state, a.zip, a.country, a.phone, a.role,
               p.langpref, p.favcategory, p.mylistopt, p.banneropt,
               s.username, s.password
        FROM account a
                 LEFT JOIN profile p ON a.userid = p.userid
                 LEFT JOIN signon s ON a.userid = s.username
        ORDER BY a.userid
    </select>

    <insert id="insertAccount" parameterType="com.jpetstore.domain.Account">
        INSERT INTO account (userid, email, firstname, lastname, status,
                             addr1, addr2, city, state, zip, country, phone, role)
        VALUES (#{userid}, #{email}, #{firstname}, #{lastname}, #{status},
                #{addr1}, #{addr2}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{role})
    </insert>

    <update id="updateAccount" parameterType="com.jpetstore.domain.Account">
        UPDATE account
        SET email = #{email}, firstname = #{firstname}, lastname = #{lastname},
            status = #{status}, addr1 = #{addr1}, addr2 = #{addr2},
            city = #{city}, state = #{state}, zip = #{zip}, country = #{country}, phone = #{phone},
            role = #{role}
        WHERE userid = #{userid}
    </update>

    <delete id="deleteAccount">
        DELETE FROM account WHERE userid = #{userid}
    </delete>

    <insert id="insertProfile" parameterType="com.jpetstore.domain.Profile">
        INSERT INTO profile (userid, langpref, favcategory, mylistopt, banneropt)
        VALUES (#{userid}, #{langpref}, #{favcategory}, #{mylistopt}, #{banneropt})
    </insert>

    <update id="updateProfile" parameterType="com.jpetstore.domain.Profile">
        UPDATE profile
        SET langpref = #{langpref}, favcategory = #{favcategory},
            mylistopt = #{mylistopt}, banneropt = #{banneropt}
        WHERE userid = #{userid}
    </update>

    <delete id="deleteProfile">
        DELETE FROM profile WHERE userid = #{userid}
    </delete>

    <insert id="insertSignOn" parameterType="com.jpetstore.domain.SignOn">
        INSERT INTO signon (username, password) VALUES (#{username}, #{password})
    </insert>

    <update id="updateSignOn" parameterType="com.jpetstore.domain.SignOn">
        UPDATE signon SET password = #{password} WHERE username = #{username}
    </update>

    <delete id="deleteSignOn">
        DELETE FROM signon WHERE username = #{username}
    </delete>

</mapper>